#!/bin/bash
set -e  # Exit immediately if a command exits with a non-zero status
    
PROMETHEUS_URL={{ prometheus_url }}
environment={{ group_names[0] }}

echo "Checking the number of ongoing battles on $environment environment..."
running_battles=$(curl -G $PROMETHEUS_URL \
    --data-urlencode "query=(sum(r3_gameservermanager_servers_allocated_total{env=\"$environment\",project=\"R3\"}) or vector(0)) - (sum (r3_gameservermanager_servers_finished_total{env=\"$environment\",project=\"R3\"}) or vector(0))" | jq -r '.data.result[0].value[1]')
echo "Running battles: $running_battles"
    
if [ $running_battles -eq 0 ]; then
    echo "SUCCESS: All battles are finished!"
    exit 0
else
    echo "FAILURE: We have ongoing battles."
    exit 1  # Explicitly exit with failure code
fi
