#!/bin/bash
set -e  # Exit immediately if a command exits with a non-zero status

PROMETHEUS_URL={{ prometheus_url }}
QUERIES=(
{% for query in queries %}
"{{ query }}"
{% endfor %}
)

UNHEALTHY=0

echo "Checking services health status..."

for query in "${QUERIES[@]}"; do
  service=$(echo "$query" | grep -oP 'r3_\K[^_]+(?=_lifecycle)')
  echo "Checking: $service"
  health=$(curl -G $PROMETHEUS_URL --data-urlencode "query=${query}" | jq -r '.data.result[0].value[1]')
  echo "Service $service health status: $health"
      
  if [ "$health" -eq 0 ]; then
    echo "Service $service is NOT healthy (status: $health)"
    UNHEALTHY=$((UNHEALTHY+1))
  else
    echo "Service $service is healthy"
  fi
done
    
echo "Health check complete. Unhealthy services: $UNHEALTHY"
    
if [ $UNHEALTHY -eq 0 ]; then
  echo "SUCCESS: All services are healthy!"
  exit 0
else
  echo "FAILURE: $UNHEALTHY services are not yet healthy."
  exit 1  # Explicitly exit with failure code
fi
